h2(translate='') upgrade7.steps.backup.title
p(translate='') upgrade7.steps.backup.description
button.btn.btn-success.center-block.btn-lg(
  ng-class="{active: upgradeBackupVm.backup.spinnerVisible}",
  ng-click="upgradeBackupVm.backup.create()"
)
  suse-lazy-spinner(delay="2000", active="upgradeBackupVm.backup.running",
    visible="upgradeBackupVm.backup.spinnerVisible")
  span(translate='') upgrade7.steps.backup.form.backup
