h2(translate='') upgrade7.steps.backup.title
p(translate='') upgrade7.steps.backup.description
button.btn.btn-success.center-block.btn-lg(translate='', ng-click="upgradeBackupVm.backup.create()") upgrade7.steps.backup.form.backup
