  
.panel.panel-default.landing-page
  .panel-heading
    h1(translate='upgrade7.title') Suse Upgrade
  .panel-body
    p(translate='') upgrade7.steps.landing.description
    ul.requirements-list
      li(translate='') upgrade7.steps.landing.requirements.point1
      li(translate='') upgrade7.steps.landing.requirements.point2
      li(translate='') upgrade7.steps.landing.requirements.point3
    
    h4(translate='') upgrade7.steps.landing.prechecks.title
    div.checks-container
      p(translate='') upgrade7.steps.landing.prechecks.description
      crowbar-checklist(checklist='Upgrade7LandingVm.prechecks.checks', completed='Upgrade7LandingVm.prechecks.completed')
  
      button.btn.btn-default.btn-sm(translate='', 
        ng-class="{disabled: Upgrade7LandingVm.prechecks.completed && Upgrade7LandingVm.prechecks.valid}",
        ng-click="Upgrade7LandingVm.prechecks.runPrechecks()"
      ) upgrade7.steps.landing.prechecks.form.check-again
    
    p.note-message(translate='') upgrade7.steps.landing.note

    button.btn.btn-success.center-block.btn-lg(translate='', 
      ng-class="{disabled: !Upgrade7LandingVm.prechecks.completed || !Upgrade7LandingVm.prechecks.valid}",
      ng-click="Upgrade7LandingVm.beginUpgrade()"
    ) upgrade7.steps.landing.form.button
