h2(translate='') upgrade7.steps.openstack-services.title
p(translate='') upgrade7.steps.openstack-services.description

button.btn.btn-success.center-block(
    ng-click='upgradeOpenStackServicesVm.openStackServices.stopServices()',
    ng-disabled='(upgradeOpenStackServicesVm.openStackServices.completed && upgradeOpenStackServicesVm.openStackServices.valid) || upgradeOpenStackServicesVm.openStackServices.running',
    ng-class='{\
        "spinner-visible": upgradeOpenStackServicesVm.openStackServices.spinnerVisible,\
        active: upgradeOpenStackServicesVm.openStackServices.running\
    }',
)
    suse-lazy-spinner(delay='2000', active='upgradeOpenStackServicesVm.openStackServices.running',
        visible='upgradeOpenStackServicesVm.openStackServices.spinnerVisible')
    span(translate='') upgrade7.steps.openstack-services.form.stop-services

crowbar-checklist(checklist='upgradeOpenStackServicesVm.openStackServices.checks', completed='upgradeOpenStackServicesVm.openStackServices.completed')
