h2(translate='') upgrade7.steps.repository-checks.title
p(translate='') upgrade7.steps.repository-checks.description
button.btn.btn-success.center-block.btn-lg(translate='') upgrade7.steps.repository-checks.form.backup
