h2(translate='') upgrade7.steps.repository-checks.title
p(translate='') upgrade7.steps.repository-checks.description
p(translate='') upgrade7.steps.repository-checks.repositories.instructions

ul.repositories-list
  li
    span.glyphicon.glyphicon-ban-circle
    span(translate='') upgrade7.steps.repository-checks.repositories.list.aaa
  li
    span.glyphicon.glyphicon-ban-circle
    span(translate='') upgrade7.steps.repository-checks.repositories.list.bbb
  li
    span.glyphicon.glyphicon-ban-circle
    span(translate='') upgrade7.steps.repository-checks.repositories.list.ccc

button.btn.btn-success.pull-left.btn-lg(translate='') upgrade7.steps.repository-checks.form.check-again
