h2(translate='') upgrade7.steps.admin-repository-checks.title
p(translate='') upgrade7.steps.admin-repository-checks.description
p(translate='') upgrade7.steps.admin-repository-checks.repositories.instructions

div.checks-container
    crowbar-checklist(checklist='upgradeAdminRepoChecksVm.repoChecks.checks', completed='upgradeAdminRepoChecksVm.repoChecks.completed') 

    button.btn.btn-success.pull-left(
        ng-disabled="(upgradeAdminRepoChecksVm.repoChecks.completed && upgradeAdminRepoChecksVm.repoChecks.valid) || upgradeAdminRepoChecksVm.repoChecks.running",
        ng-class="{\
            'spinner-visible': upgradeAdminRepoChecksVm.repoChecks.spinnerVisible,\
            active: upgradeAdminRepoChecksVm.repoChecks.running\
        }",
        ng-click="upgradeAdminRepoChecksVm.repoChecks.runRepoChecks()"
    )
        suse-lazy-spinner(delay="2000", active="upgradeAdminRepoChecksVm.repoChecks.running",
            visible="upgradeAdminRepoChecksVm.repoChecks.spinnerVisible")
        span(translate='') upgrade7.steps.admin-repository-checks.form.check-again
