.panel.panel-default.upgrade-flow 
  .panel-body
    .row
      .col-lg-3
        crowbar-upgrade-steps.upgrade-steps(steps='upgradeVm.steps.list')
      .col-lg-9
        div.upgrade-details(ui-view='')
  .panel-footer
    crowbar-upgrade-nav.clearfix(steps='upgradeVm.steps')
