h2(translate='') upgrade7.steps.upgrade-admin.title
p(translate='') upgrade7.steps.upgrade-admin.description
button.btn.btn-success.center-block.btn-lg(ng-click="upgradeAdminUpgradeVm.adminUpgrade.beginAdminUpgrade()",
    ng-class="{active: upgradeAdminUpgradeVm.adminUpgrade.spinnerVisible}",
    ng-disabled="upgradeAdminUpgradeVm.adminUpgrade.running || upgradeAdminUpgradeVm.adminUpgrade.completed")
    suse-lazy-spinner(delay="2000", active="upgradeAdminUpgradeVm.adminUpgrade.running",
        visible="upgradeAdminUpgradeVm.adminUpgrade.spinnerVisible")
    span(translate='') upgrade7.steps.upgrade-admin.form.upgrade-admin
