h2(translate='') upgrade7.steps.upgrade-admin.title
p(translate='') upgrade7.steps.upgrade-admin.description
button.btn.btn-success.center-block.btn-lg(translate='', ng-click="upgradeAdminUpgradeVm.beginUpgrade()") upgrade7.steps.upgrade-admin.form.upgrade-admin
