/* Start= features/crowbar-header/crowbar-header.less */
crowbar-header {
    .navbar {
        background-color: #0d2c40;
        background-image: none;
        border: 0px;
        margin-bottom: 30px;
        min-height: 36px;

        .title {
            color: #ffffff;
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            height: 36px;
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
}
/* Ends= features/crowbar-header/crowbar-header.less */
