.panel.panel-default
  .panel-heading SUSE&reg; OpenStack Cloud Crowbar: Upgrade from SUSE OpenStack Cloud 5
  .panel-body
    .row
      .col-lg-3
        crowbar-upgrade-steps(steps='upgradeVm.steps')
      .col-lg-9
        div(ui-view='')
  .panel-footer
    crowbar-upgrade-nav.clearfix(steps='upgradeVm.steps')
