img.logo(src='images/layout/logoUXUI.png')
md-list
  md-list-item(ui-sref-active="active")
    md-button(ui-sref='dashboard') {{::'menu.dashboard' | translate}}
md-list
  md-list-item(ui-sref-active="active")
    md-button(ui-sref='about') {{::'menu.about' | translate}}
