ul.list-group
  li.list-group-item(ng-repeat='step in steps', ng-class='{active: step.active, "list-group-item-success": step.enabled}')
    | {{::step.title}}
    .pull-right
      span.fa-fw.fa.fa-chevron-right(aria-hidden="true")
  li.list-group-item.bottom-padding

