.modal-content
    .modal-header
        button.close(type='button', ng-click='modalInstance.dismiss()', aria-label='Close')
            span(aria-hidden='true') ×
        h4.modal-title(ng-if='error.title') {{ (translationPrefix + '.' + error.title) | translate }}
        h4.modal-title(ng-if='!error.title') {{ (translationPrefix + '.default-title') | translate }}
    .modal-body
        div.panel.panel-danger.error-panel(ng-repeat="(code, data) in error.errors")
            div.panel-heading {{ (translationPrefix + '.' + code) | translate }}
            div.panel-body
                p.error-data
                    span.error-line(ng-repeat="line in data.data | normalizeErrorData track by $index") {{ line }}
                p.error-help(ng-if="data.help") {{ data.help }}
    .modal-footer
        button.btn.btn-default(type='button', ng-click='modalInstance.dismiss()')
            span(translate='') modal.close
