.modal.fade(tabindex='-1', role='dialog', id="suseModal")
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title errorTitle
            .modal-body
                p errorBody
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close