@import 'font-awesome.less';
.modal-body {
    .error-panel {
        .panel-heading {
            color: @danger-text;
        }
        .error-data {
            span.error-line {
                display: block;
            }
        }
        .error-help {
            color: @success-text;
            &:before {
                content: @fa-var-info-circle;
                font-family: FontAwesome;
                margin-right: 5px;
                font-size: 16px;
                color: @success-icon;
            }
        }
    }
}