doctype html
html(ng-app='crowbarApp')
  head
    title= title
    link(rel='stylesheet', href='/css/bower_components.min.css')
    // Load assets according to NODE_ENV
    - if (env == 'production') {
      link(rel='stylesheet', href='/css/app.min.css')
    - } else {
      link(rel='stylesheet', href='/css/app.css')
    - }
  body
    crowbar-header

    .container
      .row
        .col-xs-12
          block content

    script(src='js/bower_components.min.js')
    - if (env == 'production') {
      script(src='app/main.min.js')
    - } else {
      script(src='app/crowbar-app.module.js')
    - }

    // Crowbar Core
    script(src='app/core/crowbar-core.module.js')

    // Crowbar Data
    script(src='app/data/crowbar-data.module.js')
    script(src='app/data/services/steps.factory.js')
    // Crowbar Data - Upgrade
    script(src='app/data/services/upgrade/crowbar-data.module.js')
    script(src='app/data/services/upgrade/steps.factory.js')
    script(src='app/data/services/upgrade/prechecks.factory.js')
    script(src='app/data/services/upgrade/backup.factory.js')
    script(src='app/data/services/upgrade/repo-checks.factory.js')

    // Crowbar Widgets
    script(src='app/widgets/crowbar-widgets.module.js')
    script(src='app/widgets/crowbar-upgrade-steps/crowbar-upgrade-steps.directive.js')
    script(src='app/widgets/crowbar-upgrade-nav/crowbar-upgrade-nav.directive.js')
    script(src='app/widgets/crowbar-header/crowbar-header.directive.js')

    // Crowbar Features
    // Upgrade State
    script(src='app/features/upgrade/upgrade.module.js')
    script(src='app/features/upgrade/upgrade.config.js')
    script(src='app/features/upgrade/upgrade.controller.js')
    // Upgrade 7
    script(src='app/features/upgrade/upgrade7.controller.js')
    script(src='app/features/upgrade/controllers/upgrade7-landing.controller.js')
    script(src='app/features/upgrade/controllers/upgrade7-backup.controller.js')
    script(src='app/features/upgrade/controllers/upgrade7-repositories-checks.controller.js')
    script(src='app/features/upgrade/controllers/upgrade7-database-config.controller.js')
