doctype html
html(ng-app='crowbarApp')
  head
    title= title
    link(rel='stylesheet', href='/css/bower_components.min.css')
    // Load assets according to NODE_ENV
    - if (env == 'production') {
      link(rel='stylesheet', href='/css/app.min.css')
    - } else {
      link(rel='stylesheet', href='/css/app.css')
    - }
  body
    crowbar-header

    .container
      .row
        .col-xs-12
          block content

    script(src='js/bower_components.min.js')
    - if (env == 'production') {
      script(src='js/main.min.js')
    - } else {
      script(src='js/crowbar-app.module.js')
    - }

    // UPGRADE State
    script(src='states/upgrade/upgrade.controller.js')
    script(src='features/crowbar-upgrade-steps/crowbar-upgrade-steps.module.js')
    script(src='features/crowbar-upgrade-steps/crowbar-upgrade-steps.directive.js')
    script(src='features/crowbar-upgrade-nav/crowbar-upgrade-nav.module.js')
    script(src='features/crowbar-upgrade-nav/crowbar-upgrade-nav.directive.js')

    script(src='features/crowbar-header/crowbar-header.module.js')
    script(src='features/crowbar-header/crowbar-header.directive.js')
    script(src='shared/services/works.service.js')
