/* Start= widgets/crowbar-circle/crowbar-circle.less */
crowbar-circle {

    &.active { // lesshint qualifyingElement: false
        background-color: #00b2e2;
    }

    background-color: #b4babe;
    border-radius: 25px;
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
/* End= widgets/crowbar-circle/crowbar-circle.less */
