h2(translate='') upgrade.steps.backup.title
p(translate='') upgrade.steps.backup.description
button.btn.btn-primary.center-block(
  ng-disabled="upgradeBackupVm.backup.running",
  ng-class="{\
    'spinner-visible': upgradeBackupVm.backup.spinnerVisible,\
    active: upgradeBackupVm.backup.running\
  }",
  ng-click="upgradeBackupVm.backup.create()"
)
  suse-lazy-spinner(delay="2000", active="upgradeBackupVm.backup.running",
    visible="upgradeBackupVm.backup.spinnerVisible")
  span(translate='') upgrade.steps.backup.form.backup
suse-modal(error="upgradeBackupVm.backup.errors", translation-prefix="upgrade.errors")
