h2 Download the Upgrade Data
p This step will create a tar archive with all relevant data to restore your setup
  | later on the SUSE OpenStack Cloud 6 Administration Server.
  | Click 'Download Upgrade Data' and keep that tar archive in a secure place. You
  | will be asked to upload it later on in the process.
  | After you downloaded and saved the upgrade data click 'Continue Upgrade Process'.
