h2 Continue Upgrade
p Select the upgrade data archive that you downloaded from the SUSE OpenStack Cloud 5 Administration server when you started the upgrade wizard. Upload it by clicking 'Upload and Restore'.
.input-group
  input.form-control(type='text', placeholder='Search for...')
  span.input-group-btn
    button.btn.btn-primary(type='button')
      span.glyphicon.glyphicon-folder-open
      span Browse...
