h2(translate='') upgrade.steps.continue-upgrade.title
p(translate='') upgrade.steps.continue-upgrade.description
.input-group
  input.form-control(type='text', placeholder='{{"upgrade.steps.continue-upgrade.form.placeholder" | translate}}')
  span.input-group-btn
    button.btn.btn-primary(type='button')
      span.glyphicon.glyphicon-folder-open
      span(translate='') upgrade.steps.continue-upgrade.form.button
