.database-configuration-page
    h2(translate='') upgrade.steps.database-configuration.title

    uib-tabset(active='active')
        uib-tab(index='0', heading="{{'upgrade.steps.database-configuration.navigation-tabs.create-database' | translate}}")
            form.database-form.new
                .row
                    .col-md-8
                        .form-group
                            label(translate='') upgrade.steps.database-configuration.database-form.username
                            input.form-control(type='text', name='username', ng-required='false', ng-model='upgradeDatabaseVm.databaseForm.username')
                    .col-md-8
                        .form-group
                            label(translate='') upgrade.steps.database-configuration.database-form.password
                            input.form-control(type='password', name='password', ng-required='false', ng-model='upgradeDatabaseVm.databaseForm.password')
                    .col-md-4
                        button.btn.btn-success.pull-left.btn-lg(translate='', ng-click="upgradeDatabaseVm.createNewDatabase()") upgrade.steps.database-configuration.database-form.create-database

        uib-tab(index='1', heading="{{'upgrade.steps.database-configuration.navigation-tabs.connect-database' | translate}}")
            form.database-form.existing
                .row
                    .col-md-8
                        .form-group
                            .server
                                label(translate='') upgrade.steps.database-configuration.database-form.server
                                input.form-control(type='text', name='server' required='', ng-model='upgradeDatabaseVm.databaseForm.server')
                    .col-md-4
                        .form-group
                            .port
                                label(translate='') upgrade.steps.database-configuration.database-form.port
                                input.form-control(type='text', required='', ng-model='upgradeDatabaseVm.databaseForm.port')
                    .col-md-8
                        .form-group
                            label(translate='') upgrade.steps.database-configuration.database-form.username
                            input.form-control(type='text', required='', ng-model='upgradeDatabaseVm.databaseForm.username')
                    .col-md-8
                        .form-group
                            label(translate='') upgrade.steps.database-configuration.database-form.password
                            input.form-control(type='password', required='', ng-model='upgradeDatabaseVm.databaseForm.password')
                    .col-md-8
                        .form-group
                            label(translate='') upgrade.steps.database-configuration.database-form.tablePrefix
                            input.form-control(type='text', required='', ng-model='upgradeDatabaseVm.databaseForm.tablePrefix')
                    .col-md-4
                        button.btn.btn-success.pull-left.btn-lg(translate='') upgrade.steps.database-configuration.database-form.connect-database
