h2(translate='') upgrade.steps.finishing-upgrade.title
p(translate='') upgrade.steps.finishing-upgrade.description
.row
  .col-lg-4.text-center.text-success
    h2
      strong 2
    p(translate='') upgrade.steps.finishing-upgrade.nodes.total
  .col-lg-4.text-center.text-info
    h2
      strong 1
    p(translate='') upgrade.steps.finishing-upgrade.nodes.remaining
  .col-lg-4.text-center.text-danger
    h2
      strong 0
    p(translate='') upgrade.steps.finishing-upgrade.nodes.failed
