h2 Finishing Upgrade
p Please wait until all nodes are upgraded. This may take a long time.
.row
  .col-lg-4.text-center.text-success
    h2
      strong 2
    p Nodes in Total
  .col-lg-4.text-center.text-info
    h2
      strong 1
    p Nodes Left
  .col-lg-4.text-center.text-danger
    h2
      strong 0
    p Nodes Failed
