/* Start= features/upgrade/templates/upgrade7/landing-page.less */
.upgrade-landing-page {
    background: none;
    border: 0px;
    box-shadow: none;
    margin-bottom: 30px;
    margin-top: 27px;

    .btn {
        margin-bottom: 0px;
        margin-top: 28px;

        &:first-of-type {
            margin-top: 26px;
        }
    }

    .step-1,
    .step-2,
    .step-3 {
        color: #969797;

        &.enabled {
            color: #0d2c40;
        }

        p {
            line-height: 15px;
            margin: 0px 0px 15px;
        }

        .step-title {
            margin-bottom: 15px;

            crowbar-circle {
                margin-right: 15px;
            }
        }
    }

    .step-2 {

        .h5 {
            line-height: 15px;
            margin: 0px 0px 7px;
        }

        p:first-of-type {
            margin-top: 28px;
        }
    }

    .step-3 {
        margin-top: 60px;

        p {
            margin-bottom: 6px;
        }
    }

    @media (max-width: 991px) {
        .step-2 {
            margin-top: 60px;
        }
    }

}
/* End= features/upgrade/templates/upgrade7/landing-page.less */
