/* Start= features/upgrade/templates/upgrade7/landing-page.less */
.upgrade-landing-page {
    background: none;
    border: 0px;
    box-shadow: none;

    .step-title {
        margin-bottom: 15px;

        crowbar-circle {
            margin-right: 15px;
        }
    }

    p {
        line-height: 16px;
        margin: 0px 0px 28px;
    }

    .requirements-list {
        padding-left: 45px;

         li {
            line-height: 16px;
            margin-bottom: 25px;
        }
    }

    .prechecks,
    .mode,
    .upgrade {
        color: #5f5f5f;
        margin-top: 25px;

        &.active {
            color: #0d2c40;
        }
    }

    .mode button {
        margin-bottom: 20px;
        /* This removes the generic button margin to align it properly*/
        margin-top: 0px;
    }

    .btn {
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .note-message {
        font-style: italic;
        margin-bottom: 5px;
    }
}
/* End= features/upgrade/templates/upgrade7/landing-page.less */
