h2 Database Dump
p The SQL dump of the database was created. This will be re-imported later when re-applying the OpenStack barclamps. It is strongly recommended to download this dump.
p Download the database dump from node
  strong d52-54-77-77-77-01.c15.cloud.suse.de.
  br
  | The file can be found here: 
  strong /var/lib/pgsql/db-before-cloud6.dump.