h2(translate='') upgrade.steps.openstack-services.title
p(translate='') upgrade.steps.openstack-services.description

p(translate='', ng-if='upgradeOpenStackServicesVm.openStackServices.mode === "normal"') upgrade.steps.openstack-services.normal-mode-note

button.btn.btn-success.center-block(
    ng-click='upgradeOpenStackServicesVm.openStackServices.stopServices()',
    ng-disabled='upgradeOpenStackServicesVm.openStackServices.running || upgradeOpenStackServicesVm.openStackServices.completed',
    ng-class='{\
        "spinner-visible": upgradeOpenStackServicesVm.openStackServices.spinnerVisible,\
        active: upgradeOpenStackServicesVm.openStackServices.running \
    }',
)
    suse-lazy-spinner(delay='2000', active='upgradeOpenStackServicesVm.openStackServices.running',
        visible='upgradeOpenStackServicesVm.openStackServices.spinnerVisible')
    span(translate='') upgrade.steps.openstack-services.form.stop-services

suse-modal(error="upgradeOpenStackServicesVm.errors", translation-prefix="upgrade.errors")
