h2(translate='') upgrade.steps.openstack-backup.title
p(translate='') upgrade.steps.openstack-backup.description
p
  span(translate='' translate-values="{name: 'd52-54-77-77-77-01.c15.cloud.suse.de'}") upgrade.steps.openstack-backup.backup.node
  br
  span(translate='' translate-values="{path: '/var/lib/pgsql/db-before-cloud6.dump'}") upgrade.steps.openstack-backup.backup.path