h2(translate='') upgrade.steps.prepare.introduction.title
p(translate='') upgrade.steps.prepare.introduction.description
h2(translate='') upgrade.steps.prepare.nodes.title
p(translate='') upgrade.steps.prepare.nodes.description