h2 Upgrade to SUSE OpenStack Cloud 6
p Upgrading is a multistep process. The first few steps of this process are still
  | done using the SUSE OpenStack Cloud 5 version of the Administration Server. After
  | that you will be asked to reinstall the Server with SUSE OpenStack Cloud 6, where
  | the rest of the upgrade Process is performed.
  | At some point during the upgrade the OpenStack Cloud will be turned off and all
  | cloud services will be inaccessible.
  | It is highly recommended to back up data before the upgrade.
h2 Prepare Nodes for Upgrade
p As a first step all client nodes of this setup need to be prepared to allow the
  | administration server to be upgraded. Click 'Prepare Nodes for Upgrade' to start
  | that preparation. It is still possible to revert the Upgrade Process after that.