h2 Reinstall SUSE OpenStack Cloud 6
p As the next step in the upgrade process you need to redeploy the
  | Administration Server
  | with the new version of SUSE OpenStack Cloud. Please make sure to redeploy on
  | the very same machine using the same network configuration as before.
  | Note, after redeploying it is not possible anymore to get back to
  | SUSE OpenStack Cloud 5.
p Please reassure that you successfully downloaded the upgrade data
  | and continue the upgrade process by redeploying the Administration Server.
  | After that, open the Web Interface again and select the
  | 'Continue Upgrade Process' option in the installation wizard.