h2 Restore
p The upgrade-data was uploaded successfully. The restoration process may take a long time to import the required data from the SUSE OpenStack Cloud 5 Administration Server while the installation process runs in the background.
p The crowbar admin password will be required, possibly more than once. The password is either the default password or, depending on whether the password was changed in SUSE OpenStack Cloud 5, the one set by the user.
.alert.alert-success
  span.fa-fw.fa.fa-check
  | Restoration successful.