h2(translate='') upgrade.steps.restore-admin.title
p(translate='') upgrade.steps.restore-admin.description
p(translate='') upgrade.steps.restore-admin.description2
.alert.alert-success
  span.fa-fw.fa.fa-check
  span(translate='') upgrade.steps.restore-admin.messages.success