h2 Stop OpenStack Services
p Continuing the upgrade process by clicking 'Stop OpenStack Services' below will stop all services on the client nodes. This is the last chance to access any OpenStack service. If you haven't done so yet, please shut down all VM instances in your cloud and backup everything needed which uses OpenStack APIs.