h2 Upgrading Nodes OS
p All services on the client nodes have now been stopped. Next, the client nodes will be upgraded to SLES 12 SP1. To begin this process click 'Upgrade Nodes Now'. This process will take a long time, so please be patient.