h2(translate='') upgrade.steps.verify-repos.title
p(translate='') upgrade.steps.verify-repos.description
.alert.alert-success
  span.fa-fw.fa.fa-check
  span(translate='') upgrade.steps.verify-repos.messages.no-add-on
