h2 Verify Add-On Product Repositories
p This step verifies that the software repositories for "SUSE Linux Enterprise High Availability Extension" and "SUSE Enterprise Storage" are available if they were previously installed on SUSE OpenStack Cloud 5.
.alert.alert-success
  span.fa-fw.fa.fa-check
  | No Add-On Products Installed.
