doctype html
html(ng-app='crowbarApp')
  head
    title= title
    link(rel='stylesheet', href='/css/bower_components.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
  body
    crowbar-header

    .container
      .row
        .col-xs-12
          div(ui-view='')
    suse-modal
    suse-footer

    script(src='js/bower_components.min.js')
    script(src='app/crowbar-app.module.js')

    // Crowbar Core
    script(src='app/core/crowbar-core.module.js')

    // Suse Data
    script(src='app/data/suse-data.module.js')

    // Suse Data - Crowbar
    script(src='app/data/crowbar/crowbar.module.js')
    script(src='app/data/crowbar/crowbar.constants.js')
    script(src='app/data/crowbar/common-api-v1.constants.js')
    script(src='app/data/crowbar/common-api-v2.constants.js')
    script(src='app/data/crowbar/services/crowbar.factory.js')
    script(src='app/data/crowbar/services/crowbar-utils.factory.js')
    script(src='app/data/crowbar/services/upgrade.factory.js')
    script(src='app/data/crowbar/services/upgrade-status.factory.js')
    script(src='app/data/crowbar/services/openstack.factory.js')

    // Crowbar Widgets
    script(src='app/widgets/crowbar-widgets.module.js')
    script(src='app/widgets/crowbar-upgrade-steps/crowbar-upgrade-steps.directive.js')
    script(src='app/widgets/crowbar-upgrade-nav/crowbar-upgrade-nav.directive.js')
    script(src='app/widgets/crowbar-header/crowbar-header.directive.js')
    script(src='app/widgets/suse-footer/suse-footer.directive.js')
    script(src='app/widgets/suse-lazy-spinner/suse-lazy-spinner.directive.js')
    script(src='app/widgets/crowbar-checklist/crowbar-checklist.directive.js')
    script(src='app/widgets/crowbar-circle/crowbar-circle.directive.js')
    script(src='app/widgets/suse-modal/suse-modal.directive.js')

    // Crowbar Features
    // Upgrade State
    script(src='app/features/upgrade/upgrade.module.js')
    script(src='app/features/upgrade/upgrade.config.js')
    script(src='app/features/upgrade/upgrade.constants.js')
    script(src='app/features/upgrade/upgrade.controller.js')
    script(src='app/features/upgrade/steps.factory.js')
    script(src='app/features/upgrade/errorBus.factory.js')

    // Upgrade 7
    script(src='app/features/upgrade/upgrade.controller.js')
    script(src='app/features/upgrade/controllers/upgrade-landing.controller.js')
    script(src='app/features/upgrade/controllers/upgrade-backup.controller.js')
    script(src='app/features/upgrade/controllers/upgrade-administration-repositories-checks.controller.js')
    script(src='app/features/upgrade/controllers/upgrade-upgrade-administration-server.controller.js')
    script(src='app/features/upgrade/controllers/upgrade-database-configuration.controller.js')
    script(src='app/features/upgrade/controllers/upgrade-nodes-repositories-checks.controller.js')
    script(src='app/features/upgrade/controllers/upgrade-openstack-services.controller.js')
    script(src='app/features/upgrade/controllers/upgrade-nodes.controller.js')

    // Templates
    script(src='app/crowbar-app.templates.js')
