button.btn.btn-default.pull-left(type='button', ng-click="onCancel()", ng-disabled="!steps.isCancelAllowed()")
  span(aria-hidden="true", translate='') upgrade.nav.cancel
button.btn.btn-primary.pull-right(type='button', ng-click="steps.nextStep()", ng-if="!steps.isLastStep()", ng-disabled="!steps.isCurrentStepCompleted()" )
  span(aria-hidden="true", translate='') upgrade.nav.next
button.btn.btn-primary.pull-right(type='button', ng-click="goToDashboard()",
  ng-if="steps.isLastStep() && steps.isUpgradeAll()",
  ng-disabled="!steps.isCurrentStepCompleted() || !steps.isUpgradeAll()")
  span(aria-hidden="true", translate='') upgrade.nav.last
button.btn.btn-primary.pull-right(type='button', ng-click="goToDashboard()",
  ng-if="steps.isLastStep() && !steps.isUpgradeAll()",
  ng-disabled="!steps.isCurrentStepCompleted() && !(!steps.isUpgradeAll() && steps.getUpgradeStep() === 2)")
  span(aria-hidden="true", translate='') upgrade.nav.dashboard
