button.btn.btn-default.pull-left(type='button', ng-click="onCancel()", ng-disabled="!steps.isCancelAllowed()")
  span(aria-hidden="true", translate='') upgrade.nav.cancel
button.btn.btn-primary.pull-right(type='button', ng-click="steps.nextStep()", ng-if="!steps.isLastStep()", ng-disabled="!steps.isCurrentStepCompleted()" )
  span(aria-hidden="true", translate='') upgrade.nav.next
button.btn.btn-primary.pull-right(type='button', ng-click="finish()",
  ng-if="steps.isLastStep() && (!steps.isControllersUpgraded() || steps.isUpgradeAll())",
  ng-disabled="!steps.isCurrentStepCompleted() || !steps.isUpgradeAll()")
  span(aria-hidden="true", translate='') upgrade.nav.last
button.btn.btn-primary.pull-right(type='button', ng-click="onGoToDashboard()",
  ng-if="steps.isLastStep() && steps.isControllersUpgraded() && !steps.isUpgradeAll()")
  span(aria-hidden="true", translate='') upgrade.nav.dashboard
