div.about
  h1(translate='') {{::'about.title'}}
  img.img-responsive(src='images/about/team.jpg')
  p
    | Lemon drops gingerbread pudding jelly-o sweet. Gummi bears pastry pastry. Sesame snaps candy bear claw sugar plum cake.
  p
    | Macaroon jujubes chocolate. Topping chocolate cake dragée. Gummi bears liquorice sesame snaps sugar plum. Fruitcake carrot cake chupa chups cotton candy.
  p
    | Bear claw bear claw topping. Icing fruitcake cupcake gummies chupa chups pudding sweet roll sweet roll. Gummies cake cake cake jelly beans.
  p
    | Marshmallow powder sweet ice cream sugar plum jelly. Tootsie roll marzipan gummi bears. Sweet roll danish apple pie cookie ice cream gingerbread.
  p
    | Wafer bear claw topping. Chocolate cake jelly beans tootsie roll fruitcake cotton candy chupa chups icing caramels dragée. Biscuit cookie oat cake sugar plum chocolate cake donut.
