/* Start= features/crowbar-checklist/crowbar-checklist.less */

crowbar-checklist {
    .check-list {
        margin-bottom: 0px;
        padding-left: 0px;

        li {
            list-style: none;
            margin: 4px 0px;
            padding: 0px;

            i {
                margin-right: 5px;
            }
        }

        .text-info {

            i {
                color: @info-icon;
            }

            span {
                color: @info-text;
            }
        }

        .text-danger {

            i {
                color: @danger-icon;
            }

            span {
                color: @danger-text;
            }
        }

        .text-success {

            i {
                color: @success-icon;
            }

            span {
                color: @success-text;
            }
        }
    }
}
/* Ends= features/crowbar-checklist/crowbar-checklist.less */
