ul.check-list
    li(ng-repeat="(checkKey, check) in checklist",
        check-key='{{::checkKey}}',
        ng-class="{\
            'text-info': !completed,\
            'text-success': check.status && completed,\
            'text-danger': !check.status && completed\
        }")
        i.glyphicon(ng-class="{\
            'glyphicon-question-sign': !completed,\
            'glyphicon-ok-sign': check.status && completed,\
            'glyphicon-minus-sign': !check.status && completed\
        }")
        span(translate='{{::check.label}}')
