ul.check-list
    li(ng-repeat="(checkKey, check) in checklist",
        check-key='{{::checkKey}}',
        ng-class="{\
            'text-info': !completed && !check.completed,\
            'text-success': check.status && (completed || check.completed),\
            'text-warning': !check.status && check.optional && (completed || check.completed),\
            'text-danger': !check.status && !check.optional && (completed || check.completed)\
        }")
        i.glyphicon(ng-class="{\
            'glyphicon-question-sign': !completed && !check.completed,\
            'glyphicon-ok-sign': check.status && (completed || check.completed),\
            'glyphicon-minus-sign': !check.status && (completed || check.completed)\
        }")
        span(translate='{{::check.label}}')
