footer
    .container
        .row
            .col-xs-12
                p.text-center 
                    span.highlight(translate='') footer.product
                    span(translate='') footer.provided-by
                    span.highlight(translate='') footer.suse
