/* Start= layout.less */
// Here we include all the files that will compouse our layout and style

body {
    background: @body-bg;
    color: @body-fg;
    font-size: 14px;
    padding-top: 70px;
}

/* End= layout.less */
