/* Start= variables.less */
// Here we include all the files that will compouse our layout and style

@default-font: 'Lato', sans-serif;
@body-bg: #f4f4f4;
@body-fg: #3a3e40;

@panel-heading-fg: #3a3e40;

@container-border: 1px solid #cccccc;
@checks-container-bg: #ffffff;
@info-text: #818585;
@success-text: #71ad2c;
@danger-text: #a21123;
@upgrade-font-color: #2a8d8e;

@nav-tab-fg: #488fcc;;
@active-nav-tab-fg: #3f4345;

/* End= variables.less */
