/* Start= variables.less */
// Here we include all the files that will compouse our layout and style

@body-bg: #f4f4f4;
@body-fg: #3a3e40;

@panel-heading-fg: #3a3e40;

@container-border: 1px solid #cccccc;
@checks-container-bg: #ffffff;

@info-text: #5f5f5f;
@info-icon: #a7a9ac;
@success-text: #16996e;
@success-icon: #00c081;
@warning-text: #ed6924;
@warning-icon: #fd9a2b;
@danger-text: #ca3a4c;
@danger-icon: #cd2c40;

@upgrade-font-color: #2a8d8e;

@nav-tab-fg: #488fcc;;
@active-nav-tab-fg: #3f4345;
@disabled-nav-tab-fg: #777777;

/* End= variables.less */
